name: Tests

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  unit:
    runs-on: ubuntu-latest
    container: registry.suse.com/bci/python:3.11

    steps:
      - name: Install packages
        run: |
            zypper -n install python311-pydantic python311-pytest python311-setuptools python311-rpm python311-PyYAML python311-build

      - uses: actions/checkout@v4

      - name: Run package build
        run: |
          pyproject-build

      - name: Run tests
        run: |
          pwd
          ls -la
          pytest -v -s

      - name: Run basic example verification
        run: |
          python3 -m venv venv --system-site-packages
          source venv/bin/activate
          pip install --no-dependencies -e .
          productcomposer verify examples/ftp.productcompose


